:root {
  --branding-color: #6c63ff;
  --secondary-color: #f9f7fe;
  --heading-font-family: "Roboto Slab", serif;
  --default-font-family: "Open Sans", sans-serif;
  --box-shadow: 0 5px 10px rgba(0, 0, 0, 0.3);
}
body {
  margin: 0;
  padding: 0;
}
h1 {
  font-size: 96px;
}
h2 {
  font-size: 64px;
}

h1,
h2,
h3 {
  font-family: var(--heading-font-family);

  line-height: 1.5;
}

p {
  font-weight: normal;
  font-size: 16px;
  line-height: 1.5;
}
nav {
  padding: 20px 0;
  background-color: #fff;
}
a.nav-link.active {
  color: var(--branding-color) !important;
}

/* main section styling */
.hero {
  background-color: #e7e5ec;
  padding: 160px 20px;
}
.hero h2 {
  font-family: var(--heading-font-family);
  font-weight: normal;
  line-height: 1.5;
  font-size: 24px;
}
.hero .navigation-link a {
  display: block;
  margin: 0 auto;
}
.btn-branding {
  background: var(--branding-color);
  border-radius: 10px;
  color: white;
  text-decoration: none;
  font-size: 20px;
  line-height: 27px;
  padding: 15px 20px;
  max-width: 200px;
  transition: all 100ms ease-in-out;
  font-family: var(--default-font-family);
  text-transform: capitalize;
}
.btn-branding:hover {
  background-color: #9c99df;
  color: #000;
}
.btn-branding-outline {
  color: var(--branding-color);
  border: 1px solid var(--branding-color);
  border-radius: 4px;
  font-size: 18px;
  text-decoration: none;
  line-height: 27px;
  padding: 15px 30px;
}
.btn-branding-outline:hover {
  background-color: #9c99df;
  color: #fff;
}

.content-container {
  margin: 0 auto;
  padding: 160px 20px;
}
.content h1 {
  font-size: 50px;
  line-height: 1.5;
}
.content h2 {
  font-size: 18px;
  line-height: 1.5;
  font-family: var(--heading-font-family);
}

.content-container .primary-link {
  border-radius: 10px;
  padding: 20px 15px;
  text-decoration: none;
  text-transform: capitalize;
  background: var(--branding-color);
  box-shadow: var(--box-shadow);
  color: white;
}
.contact-box {
  background: #f9f7fe;
  padding: 30px 120px;
  border-radius: 10px;
}
/* footer section styling */
footer p {
  font-size: 15px;
  line-height: 1.5;
  opacity: 0.8;
}

footer a.email-link {
  text-decoration: none;
  color: #000;
  font-size: 24px;
  font-weight: 700;
}
footer a.email-link:hover {
  color: var(--branding-color);
}
footer .social-links a {
  margin: 0 20px;
  padding: 10px 14px;
  font-size: 18px;
  background-color: #f2f0f5;
  border-radius: 50%;
  transition: all 100ms ease-in-out;
}

footer .social-links a:hover {
  background-color: var(--branding-color);
  color: #fff;
}
