:root {
  --heading-font-family: "Roboto Slab", serif;
  --default-font-family: "Open Sans", sans-serif;
}
body {
  background-color: #000;
  margin: 5px;
}

h1,
h2,
h3 {
  font-family: var(--heading-font-family);
}
/* main section styling */
.hero {
  background-color: #cccccc;
  padding: 80px 20px;
}
